/* html {
    margin: 0;
} */

nav {
    width: 10%;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: auto;
}

hr {
    width: 40%;
}

section {
    /* display: block; */
    width: 1500px;
    margin: auto;
}

img {
    width: 400px;
    height: 600px;
    margin: 2em 3em;
}